.help-block{
    color:#768192!important;
}

.dataTables_info{
    width:100%;
    margin-bottom:10px;
}

td.details-control {
    background: url('/admin_ui/assets/dataTables/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.details td.details-control {
    background: url('/admin_ui/assets/dataTables/details_close.png') no-repeat center center;
}
table.dataTable tbody td {
    padding: 8px 12px;
}

.action-buttons{
    cursor:pointer;
    display:inline-block;
    color:#321fdb;
}
